/* Google fonts link */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Navbar background styling */
.menu-bar{
    background-color: #424242;
    width: 100%;
}

/* Logo styling */
.menu-bar .logo-style{
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

/* Menu bar navigation tab text styling*/
.menu-bar .menu-list{
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    margin-right: 20px;
}

/* Toggler button border colour styling */
.custom-toggler.navbar-toggler{ 
    border-color: yellow; 
} 

/* Customised toggler button color with help from this (old) post https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/* Navbar navigation tab text styling for active page */
.menu-bar .active{
    color: yellow;
}

/* h2 text styling */
h2{text-transform: uppercase;
}

/* Home page hero image styling */
.callout-container{ 
    height: 80vh;
    width: 100%;
    background: url('../images/gym-floor.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

/* About Us page hero image styling */
.callout-container-about{ 
    height: 140vh;
    background: url('../images/team.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

/* Membership page hero image styling */
.callout-container-membership{ 
    height: 100vh;
    background: url('../images/cafe.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

/* Join Now page hero image styling */
.callout-container-join{ 
    height: 110vh;
    background: url('../images/front-squat.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

/* Callout container styling for all pages  */
.call-out{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Callout message text styling for all pages  */
.callout-message{
    font-size: 50px !important;
    color: white; 
}

/* Sign up form text styling for Join Now page */
.form-group{
    color: white;
}

/* Join Now button styling */
.btn-warning{
    object-position: center;
}

/* Join Now button styling for mobile devices */
.button-mobile{
    margin-left: 70px;
}

/* Home page exercise class (behind class timetable) background image styling */
.classes-container{ 
    height: auto;
    background: url('../images/exercise.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    background-attachment: scroll;    
}

/* Positioning and styling of text on exercise class timetable */
.class-info{
    margin-left: 35px;
    margin-top: 80px;
}

.exercise-classes h2{
    color:yellow;
}

.exercise-classes p{
    color:yellow;
}

.timings{
    font-size: 120%;
}

/* Styling of social media icons */
.social-media i{
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;
}

/* Styling of copyright text */
.copyright{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    padding-top: 0;
}

/* Positioning of profile picture section on About Us page */
.meet-us{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Profile picture container styling on About Us page */
.square-container{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: grey;
    margin: 10px auto;
    border-radius: 50%;
}

/* Profile pictures styling on About Us page */
#kevin-bg{
    background: url('../images/kevin.jpg') no-repeat center center;
    height: 100%;
    background-position-x: center;
    background-position-y: -10px;
    border-radius: 50%;
    background-size: 100%;
}

#louise-bg{
    background: url('../images/louise.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 55%;
    background-position-y: 18%;
    border-radius: 50%;
    background-size: 100%;
}

#charles-bg{
    background: url('../images/charles.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 55%;
    background-position-y: 0%;
    border-radius: 50%;
    background-size: 100%;
}

#tony-bg{
    background: url('../images/tony.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 35%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

#claire-bg{
    background: url('../images/claire.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

#amanda-bg{
    background: url('../images/amanda.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

/* Positioning of membership package info on Membership page */
.membership-options{
    padding-top: 50px;
    padding-bottom: 50px;
}

.membership-title{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Positioning of quotes section on Join Now page */
.gym-reviews{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Background and positioning styling of features section on Home page*/
.features{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Background and positioning styling of membership packages section on Membership page*/
.membership-options{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}
.membership-options p{
    color: white;
}

/* Styling of font awesome icons in main text of Home and Membership pages */
.icon{
    color: yellow;
}

/* Text styling of features section on Home page*/
.features p{
    color: white;
}

/* Gym members picture container styling on Join Now page */
.square-container-join{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: grey;
    margin: 10px auto;
    border-radius: 50%;
}

/* Gym members pictures styling on Join Now page */
#jenny-bg{
    background: url('../images/jenny.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

#katie-bg{
    background: url('../images/katie.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 0%;
    border-radius: 50%;
    background-size: 100%;
}

#freddie-bg{
    background: url('../images/freddie.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 35%;
    border-radius: 50%;
    background-size: 100%;
}

/* Footer background styling */
.footer{
    background-color: #424242;
}





