@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.menu-bar{
    background-color: #424242;
    width: 100%;
}

.menu-bar .logo-style{
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

.menu-bar .menu-list{
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    margin-right: 20px;
}


   /* Customised toggler button color with help from this (old) post https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */        
        .custom-toggler.navbar-toggler { 
            border-color: yellow; 
        } 
        
        .custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.menu-bar .active{
    color: yellow;
}

.navbar-toggler-icon{
    color: yellow;
}

h2{text-transform: uppercase;
}

.callout-container{ 
    height: 100vh;
    width: 100%;
    background: url('../images/gym.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

.callout-container-about{ 
    height: 140vh;
    background: url('../images/team.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

.callout-container-membership{ 
    height: 100vh;
    background: url('../images/cafe.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

.callout-container-join{ 
    height: 140vh;
    background: url('../images/battle-ropes.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
}

.call-to-join{
    color: black;
    background-color: white;
    width: 500px;
    padding-bottom: 30px;  
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.call-to-join-mobile{
    color: black;
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.btn-warning{
    object-position: center;
}

.button-mobile{
    margin-left: 70px;
}

.classes-container{ 
    height: 105vh;
    background: url('../images/class.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    background-attachment: scroll;    
}

.class-info{
    margin-left: 35px;
    margin-top: 80px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.exercise-classes p{
    color: white;
}

.exercise-classes h2{
    color: white;
}

.timings{
    font-size: 120%;
}

.social-media i{
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;
}

.copyright{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    padding-top: 0;
}

.meet-us{
    padding-top: 50px;
    padding-bottom: 50px;
}

.square-container{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: grey;
    margin: 10px auto;
    border-radius: 50%;
}

#kevin-bg{
    background: url('../images/Kevin.jpg') no-repeat center center;
    height: 100%;
    background-position-x: center;
    background-position-y: -10px;
    border-radius: 50%;
    background-size: 100%;
}

#louise-bg{
    background: url('../images/Louise.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 55%;
    background-position-y: 18%;
    border-radius: 50%;
    background-size: 100%;
}

#charles-bg{
    background: url('../images/Charles.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 55%;
    background-position-y: 0%;
    border-radius: 50%;
    background-size: 100%;
}

#tony-bg{
    background: url('../images/tony.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 35%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

#claire-bg{
    background: url('../images/Claire.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

#amanda-bg{
    background: url('../images/Amanda.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

.membership-options{
    padding-top: 50px;
    padding-bottom: 50px;
}

.membership-title{
    padding-top: 50px;
    padding-bottom: 50px;
}

.gym-reviews{
    padding-top: 50px;
    padding-bottom: 50px;
}

.features{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}

.membership-options{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}
.membership-options p{
    color: white;
}

.icon{
    color: yellow;
}

.features p{
    color: white;
}

.square-container-join{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: grey;
    margin: 10px auto;
    border-radius: 50%;
}

#jenny-bg{
    background: url('../images/Jenny.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 25%;
    border-radius: 50%;
    background-size: 100%;
}

#katie-bg{
    background: url('../images/Katie.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 0%;
    border-radius: 50%;
    background-size: 100%;
}

#freddie-bg{
    background: url('../images/Freddie.jpg') no-repeat center center;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 35%;
    border-radius: 50%;
    background-size: 100%;
}

.footer{
    background-color: #424242;
}





